.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.wrapper:after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #e2e2e2;
  width: 100%;
  transform: translateX(-50%);
  bottom: -2vh;
  left: 50%;
}
